// ------ logo -----
.logo {
    content: url($img-src-prefix + "logo-ANSWER.svg");
}

// ----- container w/ padding -----
.container-p-32 {
    padding: 32px 32px;
}

// ------ sidebar ------
.sidebar {
    //height: 100%;
    background: $primary-bg-color;
    flex-shrink: 0;
}

.sidebar-title {
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sidebar-list {
    a {
        display: block;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-left: 28px; // 32 - 4
        border-left: 4px solid $primary-bg-color;
    }

    li {
        margin-bottom: 18px;
        
        &.selected a, a:hover {
            color: $secondary-text-color;
            border-left: 4px solid $secondary-text-color;
        }
    }

    .material-icons {
        padding-right: 16px;
        vertical-align: middle;
    }
}

.sidebar-footer {
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 80px;

    .profile-pic {
        margin-right: 16px;
    }
}

// ----- profile pictures -----
.profile-pic {
    @include img-sqrt(40px);
    flex-shrink: 0;
}

.profile-pic-lg {
    @include img-sqrt(140px);
    flex-shrink: 0;
}

// ----- text editor -----
.reply-editor {
    width: 100%;
    height: 320px;
    textarea {
        border: none;
        height: 100%;
    }
}

// ----- buttons -----
.theme-btn {
    font: normal normal bold 16px/24px Lato;
    color: $primary-text-color;
    background: $primary-bg-color;
    border: 1px solid $primary-border-color;
    padding: 10px 16px;

    &:hover {
        background: darken($primary-bg-color, 15%);
    }
}

.btn-group-sqrt{
    .btn {
        width: 32px;
        height: 32px;
    }
    .material-icons {
        font-size: 16px;
        line-height: 24px;
    }
}

// ----- customized lists -----
.assignment-list {
    width: 40%;
    .list-group-item {
        padding: 12px;
    }
    h5 {
        margin-bottom: 0;
        margin-top: 4px;
    }
}

.reply-thread {
    font-size: 14px;
    @include list-w-divider(16px);
}

.form-w-divider-24 {
    @include list-w-divider(24px);
}

// ----- admin modal -----
.admin-modal-body {
    height: 70vh;
    overflow-y: scroll;
}